# Build output
Debug/
Release/
build/

# CubeIDE / Eclipse workspace metadata
.metadata/

# OS noise
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
project_context.md
__pycache__
actuator manual.pdf
stm32 manual.pdf
test.py